<div class="container">
    <h1 class="text-2xl font-bold">Historique des paiements</h1>
    <div *ngIf="paymentHistory.length === 0">
      <p>Aucun historique de paiement disponible.</p>
    </div>
    <div *ngIf="paymentHistory.length > 0">
      <table class="min-w-full bg-white">
        <thead>
          <tr>
            <th class="py-2">Créancier</th>
            <th class="py-2">Montant</th>
            <th class="py-2">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of paymentHistory">
            <td class="py-2">{{ payment.creancierName }}</td>
            <td class="py-2">{{ payment.amount }} DH</td>
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  