<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
</head>
<app-navbar></app-navbar>

<body>
    <div class="container">
        <h1 class="text-2xl font-bold">Paiement de facture</h1>
        <div class="tab">
            <button class="tablinks active">Liste des créanciers</button>
            <button class="tablinks">Historique</button>
        </div>
        <div class="content">
            <select>
                <option value="all">Toutes les catégories</option>
            </select>
            <div class="grid-container">
                <a [routerLink]="'/effectuer-paiement/' + 'iam-recharges'" class="grid-item">
                    <img src="https://www.iam.ma/ImagesMarocTelecom/Phototh%C3%A8que/Images-grandes/maroc-telecom-blanc-ar-grande.jpg" alt="Maroc Telecom">
                    <div>
                        <h2>IAM RECHARGES</h2>
                        <p>TÉLÉPHONIE ET INTERNET SIM</p>
                    </div>
                </a>
                <a [routerLink]="'/effectuer-paiement/' + 'iam-factures'" class="grid-item">
                    <img src="https://www.iam.ma/ImagesMarocTelecom/Phototh%C3%A8que/Images-grandes/maroc-telecom-blanc-ar-grande.jpg" alt="Maroc Telecom">
                    <div>
                        <h2>IAM FACTURES</h2>
                        <p>PRODUIT INTERNET SIM</p>
                        <p>PRODUIT FIXE SIM</p>
                        <p>PRODUIT MOBILE SIM</p>
                    </div>
                </a>
                <a [routerLink]="'/effectuer-paiement/' + 'redal'" class="grid-item">
                    <img src="https://media.licdn.com/dms/image/C511BAQFD_MZ6Chc1QQ/company-background_1536_768/0/1584028354410?e=2147483647&v=beta&t=gvvf396mzkaHgH7xzYheZrBPrkBNxGfgLSjZQ1w0UkQ" alt="Redal">
                    <div>
                        <h2>REDAL</h2>
                        <p>FACTURES REDAL</p>
                    </div>
                </a>
                <a [routerLink]="'/effectuer-paiement/' + 'amendis-tanger'" class="grid-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIm3XBL01OW3dxqviMt3clLQdZq_p4-YqoG6YPP38HGA&s" alt="Amendis Tanger">
                    <div>
                        <h2>AMENDIS TANGER</h2>
                        <p>FACTURES AMENDIS TANGER</p>
                    </div>
                </a>
                <a [routerLink]="'/effectuer-paiement/' + 'amendis-tetouan'" class="grid-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIm3XBL01OW3dxqviMt3clLQdZq_p4-YqoG6YPP38HGA&s" alt="Amendis Tetouan">
                    <div>
                        <h2>AMENDIS TETOUAN</h2>
                        <p>FACTURES AMENDIS TETOUAN</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
