<!--<footer class="footer-container">
    <div class="social-icons">
      <a href="#" mat-icon-button aria-label="Instagram">
        <mat-icon>instagram</mat-icon>
      </a>
      <a href="#" mat-icon-button aria-label="Facebook">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="#" mat-icon-button aria-label="Twitter">
        <mat-icon>twitter</mat-icon>
      </a>
    </div>
    <p class="copyright">© 2024 YourCompany. All Rights Reserved.</p>
  </footer>-->

  <div class="Footer">
    <div class="ico">
     
        <div class="footer-social-icon">
          <div class="footer-icons-container">
            <img src="../../assets/insta.png" alt="" />
          </div>
          <div class="footer-icons-container">
            <img src="../../assets/fb.png" alt="" />
          </div>
          <div class="footer-icons-container">
            <img src="../../assets/x.png" alt="" />
          </div>
        </div>
  
        <div class="footer-copyright">
          <hr>
          <p>Copyright2024 - All Right Reserved</p>
        </div>
      </div>
 </div>


  
  