

<div class="navbar-container">
    <a href="/home">
    <img  src="https://img.freepik.com/premium-vector/e-wallet-logo-vector-art-inspiration_24599-185.jpg" alt="Logo" class="logo">
    </a>
    <!-- Navigation Buttons -->
    <div class="nav-buttons">
        <a href="/home" class="nav-button">Home</a>
        <a href="/services" class="nav-button">Services</a>
        <a href="/about" class="nav-button">About Us</a>
        <a href="/contact" class="nav-button">Contact Us</a>
    </div>
</div>

